Repository indykite/indykite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

build: move the GCP workload IDP to a secret
  .github/workflows/release.yaml
Due: actionlint-system, yamlfmt, yamllint

build: move the GCP workload IDP to a secret (#360)
  .github/workflows/release.yaml
Due: actionlint-system, yamlfmt, yamllint

refactor: use updated GitHub org secrets
  .github/workflows/release.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: use updated GitHub org secrets (#372)
  .github/workflows/release.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: fix security issues
  Pipfile
  Pipfile.lock
  codecov.yaml
  tests/test_app_space.py
  tests/test_config_node.py
  tests/test_ingest.py
  tests/test_tda.py
Due: yamlfmt, yamllint

ci: pre-commit updates; ci tweaks
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  .trivy.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: pre-commit updates; ci tweaks (#399)
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  .trivy.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: migrate jwt jose to joserfc
  Pipfile
  Pipfile.lock
  indykite_sdk/authorization/__init__.py
  indykite_sdk/config/__init__.py
  indykite_sdk/ingest/__init__.py
  indykite_sdk/knowledge/__init__.py
  indykite_sdk/model/token.py
  indykite_sdk/tda/__init__.py
  indykite_sdk/utils/credentials_config.py
  indykite_sdk/utils/jwt_credentials.py
  setup.py
  tests/test_jwt_credentials.py
Due: none

feat: authlib.jose ref
  Pipfile
Due: none

fix: normalize joserfc jwt key parsing
  indykite_sdk/utils/jwt_credentials.py
  indykite_sdk/utils/logger.py
  tests/test_jwt_credentials.py
Due: none

chore(master): release 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  indykite_sdk/version.py
  pyproject.toml
Due: none

fix: fix renovate file
  .github/renovate.json5
  Pipfile.lock
Due: none

fix: fix renovate file (#407)
  .github/renovate.json5
  Pipfile.lock
Due: none

feat: add documentation
  .github/workflows/docs.yaml
  .github/workflows/tests.yaml
  Pipfile
  Pipfile.lock
  README.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat: update documentation link
  pyproject.toml
Due: none

chore(master): release 2.1.0
  .release-please-manifest.json
  CHANGELOG.md
  indykite_sdk/version.py
  pyproject.toml
Due: none

chore(master): release 2.1.1
  .release-please-manifest.json
  CHANGELOG.md
  indykite_sdk/version.py
  pyproject.toml
Due: none

fix: fix variable and permission issue on release
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  Pipfile.lock
Due: actionlint-system, yamlfmt, yamllint

feat: add audit-signing
  Pipfile.lock
  README.md
  examples/audit_signing.py
  indykite_sdk/config/__init__.py
  indykite_sdk/config/aio.py
  indykite_sdk/config/client.py
  indykite_sdk/config/models/__init__.py
  indykite_sdk/config/models/core.py
  tests/integration/test_config_lifecycle.py
  tests/unit/config/test_all_methods.py
  tests/unit/config/test_config.py
Due: markdownlint

ci: 3rd-party licenses
  .github/CODEOWNERS
  .trivy.yaml
  LICENSES.md
  Pipfile.lock
Due: yamlfmt, yamllint, markdownlint

ci: 3rd-party licenses
  LICENSES.md
Due: markdownlint

ci: 3rd-party licenses
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  LICENSES.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

ci: 3rd-party licenses (#422)
  .github/CODEOWNERS
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  .trivy.yaml
  LICENSES.md
  Pipfile.lock
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat: add whoami and policies implementations
  LICENSES.md
  Pipfile.lock
  README.md
  examples/authzen_evaluation.py
  examples/ciq_execute.py
  indykite_sdk/authzen/__init__.py
  indykite_sdk/authzen/_ops.py
  indykite_sdk/authzen/aio.py
  indykite_sdk/authzen/client.py
  indykite_sdk/authzen/models.py
  indykite_sdk/ciq/__init__.py
  indykite_sdk/ciq/aio.py
  indykite_sdk/ciq/client.py
  indykite_sdk/ciq/models.py
  indykite_sdk/config/client.py
  indykite_sdk/config/models/core.py
  tests/integration/conftest.py
  tests/integration/test_config_lifecycle.py
  tests/integration/test_policies_whoami.py
  tests/unit/authzen/test_authzen.py
  tests/unit/ciq/test_ciq.py
Due: markdownlint

ci: route trivy findings to jira
  .trivy.yaml
Due: yamlfmt, yamllint

feat: add claims and audit
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs.yaml
  Pipfile.lock
  README.md
  examples/audit_logs.py
  indykite_sdk/__init__.py
  indykite_sdk/_core/errors_map.py
  indykite_sdk/_core/ops.py
  indykite_sdk/audit/__init__.py
  indykite_sdk/audit/_ops.py
  indykite_sdk/audit/aio.py
  indykite_sdk/audit/client.py
  indykite_sdk/audit/models.py
  indykite_sdk/authzen/_ops.py
  indykite_sdk/authzen/aio.py
  indykite_sdk/authzen/client.py
  indykite_sdk/authzen/models.py
  indykite_sdk/ciq/aio.py
  indykite_sdk/ciq/client.py
  indykite_sdk/config/client.py
  indykite_sdk/config/models/core.py
  tests/integration/conftest.py
  tests/integration/test_audit.py
  tests/unit/audit/__init__.py
  tests/unit/audit/test_audit.py
  tests/unit/authzen/test_authzen.py
  tests/unit/ciq/test_ciq.py
  tests/unit/test_parity.py
Due: actionlint-system, yamlfmt, yamllint, markdownlint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not (^indykite_sdk\/(indykite|buf|gnostic|validate)\/.*$)
  yamlfmt: any of: \.(yaml|yml)$, but not: ^indykite_sdk\/(indykite|buf|gnostic|validate)\/.*$
  yamllint: any of: \.(yaml|yml)$, but not: ^indykite_sdk\/(indykite|buf|gnostic|validate)\/.*$
  markdownlint: any of: \.(md|markdown|mdown)$ and not (^(CHANGELOG|.github\/ISSUE_TEMPLATE\/.*)\.md$) and not (^indykite_sdk\/(indykite|buf|gnostic|validate)\/.*$)
